{% if layout.background_color %}
{% set bg_style5_color = layout.background_color %}
{% endif %}

{% if layout.background_gradient.gradient_start %}
{% set bg_style5_image = "linear-gradient(to right, #{ layout.background_gradient.gradient_start } 0%, #{ layout.background_gradient.gradient_end } 100%)" %}
{% elseif layout.background_image %}
{% set bg_style5_image = "url(#{ layout.background_image.url })" %}
{% endif %}

{% set bg_style5_text_mode = layout.text_mode %}

<section class="acfSection text_{{bg_style5_text_mode}}" style="background-color: {{ bg_style5_color }}; background-image: {{bg_style5_image}}">
    <div class="wrapper">
        {% if layout.heading %}
        <h1 class="sectionHeading">{{ layout.heading }}</h1>
        {% endif %}
        <div class="layout-four-column cards" id="{{ layout.id }}">
            {% block col_1 %}
            <div class="col">{{ layout.column_1 }}</div>
            {% endblock %}
            {% block col_2 %}
            <div class="col">{{ layout.column_2 }}</div>
            {% endblock %}
            {% block col_3 %}
            <div class="col">{{ layout.column_3 }}</div>
            {% endblock %}
            {% block col_4 %}
            ​​{% if layout.column_4 is not empty %}
            <div class="col">{{ layout.column_4 }}</div>
            {% endif %}
            {% endblock %}
        </div>
    </div>
</section>

{% set bg_style5_color = '' %}
{% set bg_style5_image = '' %}
{% set bg_style5_text_mode = '' %}