{% if layout.background_color %}
    {% set bg_style4_color = layout.background_color %}
{% endif %}

{% if layout.background_gradient.gradient_start %}
    {% set bg_style4_image = "linear-gradient(to right, #{ layout.background_gradient.gradient_start } 0%, #{ layout.background_gradient.gradient_end } 100%)" %}
{% elseif layout.background_image %}
    {% set bg_style4_image = "url(#{ layout.background_image.url })" %}
{% endif %}

{% set bg_style4_text_mode = layout.text_mode %}

<section class="acfSection text_{{bg_style4_text_mode}}" style="background-color: {{ bg_style4_color }}; background-image: {{bg_style4_image}}">
    <div class="wrapper">
        {% if layout.heading %}
        <h1 class="sectionHeading">{{ layout.heading }}</h1>
        {% endif %}
    <div class="layout-four-column"  id="{{ layout.id }}">
        {% block col_1 %}
            <div class="col">{{ layout.column_1 }}</div>
        {% endblock %}
        {% block col_2 %}
            <div class="col">{{ layout.column_2 }}</div>
        {% endblock %}
        {% block col_3 %}
            <div class="col">{{ layout.column_3 }}</div>
        {% endblock %}
        {% block col_4 %}
            <div class="col">{{ layout.column_4 }}</div>
        {% endblock %}
    </div>
    </div>
</section>

{% set bg_style4_color = '' %}
{% set bg_style4_image = '' %}
{% set bg_style4_text_mode = '' %}