{% if layout.background_color %}
    {% set bg_style3_color = layout.background_color %}
{% endif %}

{% if layout.background_gradient.gradient_start %}
    {% set bg_style3_image = "linear-gradient(to right, #{ layout.background_gradient.gradient_start } 0%, #{ layout.background_gradient.gradient_end } 100%)" %}
{% elseif layout.background_image %}
    {% set bg_style3_image = "url(#{ layout.background_image.url })" %}
{% endif %}

{% set bg_style3_text_mode = layout.text_mode %}

<section class="acfSection text_{{bg_style3_text_mode}}" style="background-color: {{ bg_style3_color }}; background-image: {{bg_style3_image}}">
    <div class="wrapper">
        {% if layout.heading %}
        <h1 class="sectionHeading">{{ layout.heading }}</h1>
        {% endif %}
    <div class="layout-three-column" id="{{ layout.id }}">
        <div class="col">{{ layout.column_1 }}</div>
        <div class="col">{{ layout.column_2 }}</div>
        <div class="col">{{ layout.column_3 }}</div>
    </div>
    </div>
</section>

{# reset for the next loop #}
{% set bg_style3_color = '' %}
{% set bg_style3_image = '' %}
{% set bg_style3_text_mode = '' %}