{% extends "base.twig" %}

{% block content %}
  <article>
    <section>
      <div class="wrapper">
        Sorry, we couldn't find what you're looking for.
      </div>
    </section>
  </article>
{% endblock %}