{% for layout in post.get_field('layouts') %}

  {####### One Column #######}

  {% if layout.acf_fc_layout == 'one_column' %}

    {% embed "acf-layouts/one-column.twig" %}
    {% endembed %}

  {####### Two Columns #######}

  {% elseif layout.acf_fc_layout == 'two_columns' %}

    {% embed "acf-layouts/two-column.twig" %}
    {% endembed %}

  {####### Three Columns #######}

  {% elseif layout.acf_fc_layout == 'three_columns' %}

    {% embed "acf-layouts/three-column.twig" %}
    {% endembed %}


  {####### Four Columns #######}

  {% elseif layout.acf_fc_layout == 'four_columns' %}

    {% embed "acf-layouts/four-column.twig" %}
    {% endembed %}

  {####### Four Column - Cards #######}

  {% elseif layout.acf_fc_layout == 'four_column_cards' %}

    {% embed "acf-layouts/four-column-cards.twig" %}
    {% endembed %}

  {####### Accordion #######}

  {% elseif layout.acf_fc_layout == 'accordion' %}

    {% if layout.background_color %}
      {% set bg_style4_color = layout.background_color %}
    {% endif %}

    {% if layout.background_gradient.gradient_start %}
      {% set bg_style4_image = "linear-gradient(to right, #{ layout.background_gradient.gradient_start } 0%, #{ layout.background_gradient.gradient_end } 100%)" %}
    {% elseif layout.background_image %}
      {% set bg_style4_image = "url(#{ layout.background_image.url })" %}
    {% endif %}

    {% set bg_style4_text_mode = layout.text_mode %}

    <section class="acfSection text_{{bg_style4_text_mode}}"style="background-color: {{ bg_style4_color }}; background-image: {{bg_style4_image}}">
      <div class="wrapper">
         {% if layout.heading %}
            <h1 class="sectionHeading">{{ layout.heading }}</h1>
        {% endif %}

        <ul class="layout-accordion accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
          {% for panel in layout.accordion %}
          <li class="accordion-item" data-accordion-item>
            <a href="#" role="button" class="accordion-title">{{ panel.title }}</a>
            <div class="accordion-content" data-tab-content>
              {{ panel.description }}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    {# reset for the next loop #}
    {% set bg_style4_color = '' %}
    {% set bg_style4_image = '' %}
    {% set bg_style4_text_mode = '' %}
  
  {% elseif layout.acf_fc_layout == 'carousel' %}

    {% if layout.background_color %}
      {% set bg_style5_color = layout.background_color %}
    {% endif %}

    {% if layout.background_gradient.gradient_start %}
      {% set bg_style5_image = "linear-gradient(to right, #{ layout.background_gradient.gradient_start } 0%, #{ layout.background_gradient.gradient_end } 100%)" %}
    {% elseif layout.background_image %}
      {% set bg_style5_image = "url(#{ layout.background_image.url })" %}
    {% endif %}

    {% set bg_style5_text_mode = layout.text_mode %}

     <section class="acfSection acfSection__carousel text_{{bg_style5_text_mode}}" style="background-color: {{ bg_style5_color }}; background-image: {{bg_style5_image}}">
      <div class="wrapper">
        {% if layout.heading %}
          <h1 class="sectionHeading">{{ layout.heading }}</h1>
        {% endif %}

        <div class="main-carousel" data-flickity='{ "lazyLoad": true, "cellAlign": "left", "contain": true, "wrapAround": true, "autoPlay": {% if layout.autoplay %}true{% else %}false{% endif %} }'>
          {% for slide in layout.carousel_content %}
            <div class="carousel-cell">
              {# image slide #}
              {% if slide.acf_fc_layout == 'image' %}
                {% if slide.image_description %}
                  <figure>
                    <img 
                    data-flickity-lazyload-srcset="{{ slide.image_content.url|resize(480) }} 480w, 
                    {{ slide.image_content.url|resize(640) }} 640w,
                    {{ slide.image_content.url|resize(800) }} 800w, 
                    {{ slide.image_content.url|resize(1024) }} 1024w,
                    {{ slide.image_content.url|resize(2000) }} 2000w"
                    sizes="100vw"
                    data-flickity-lazyload-src={{ slide.image_content.url|resize(800) }}
                    alt="{{ slide.image_content.alt }}" />

                    <figcaption>
                      <div class="wrapper">
                      {{ slide.image_description }}
                      </div>
                    </figcaption>
                  </figure>
                {% else %}
                  <img 
                  data-flickity-lazyload-srcset="{{ slide.image_content.url|resize(480) }} 480w, 
                  {{ slide.image_content.url|resize(640) }} 640w,
                  {{ slide.image_content.url|resize(800) }} 800w, 
                  {{ slide.image_content.url|resize(1024) }} 1024w,
                  {{ slide.image_content.url|resize(2000) }} 2000w"
                  sizes="100vw"
                  data-flickity-lazyload-src={{ slide.image_content.url|resize(800) }}
                  alt="{{ slide.image_content.alt }}" />
                {% endif %}
              
              {# html slide #}
              {% else %}
                <div class="carouselHTMLBackground text_{{slide.text_mode}}" style="{% if slide.background == "Color" %} background-color: {{ slide.background_color }};{% endif %}{% if slide.background == 'Image' %}background-image: url({{slide.background_image.url}});{% endif %}{% if slide.background == 'Gradient' %}background-image: linear-gradient(to right, {{ slide.background_gradient.gradient_start }} 0%, {{ slide.background_gradient.gradient_end }} 100%){% endif %}">
                  {{ slide.html_markup }}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </section>

    {# reset for the next loop #}
    {% set bg_style5_color = '' %}
    {% set bg_style5_image = '' %}
    {% set bg_style5_text_mode = '' %}
  {% endif %}

{% endfor %}