{% set aos=post.get_field('aos') %}
{% if aos=="ADMC" %}
	{% set aos__slug="aos__admc" %}
	{% set aos__name="Arts, Digital Media & Communications" %}
{% endif %}
{% if aos=="CSIT" %}
	{% set aos__slug="aos__csit" %}
	{% set aos__name="Computer Science & Information Technology" %}
{% endif %}
{% if aos=="Business" %}
	{% set aos__slug="aos__business" %}
	{% set aos__name="Business" %}
{% endif %}
{% if aos=="CHT" %}
	{% set aos__slug="aos__cht" %}
	{% set aos__name="Culinary, Hospitality & Tourism" %}
{% endif %}
{% if aos=="DMCAT" %}
	{% set aos__slug="aos__dmcat" %}
	{% set aos__name="Design, Manufacturing, Construction & Applied Technologies" %}
{% endif %}
{% if aos=="Education" %}
	{% set aos__slug="aos__edu" %}
	{% set aos__name="Education" %}
{% endif %}
{% if aos=="HS" %}
	{% set aos__slug="aos__hs" %}
	{% set aos__name="Health Sciences" %}
{% endif %}
{% if aos=="LA" %}
	{% set aos__slug="aos__la" %}
	{% set aos__name="Liberal Arts" %}
{% endif %}
{% if aos=="PSS" %}
	{% set aos__slug="aos__pss" %}
	{% set aos__name="Public & Social Services" %}
{% endif %}
{% if aos=="SEM" %}
	{% set aos__slug="aos__sem" %}
	{% set aos__name="Science, Engineering & Math" %}
{% endif %}
{% if aos==null %}
	{% set aos__slug=null %}
	{% set aos__name=null %}
{% endif %}
{% set aos__classes="" %}
{# This checks to see if there is some hero content and then moves the bar up over it. In Twig an array is truthy #}
{% if post.get_field('hero_content') %}
	{% set aos__classes="aos__up" %}
{% endif %}
{% if aos != null %}
	<div class="aos__bar {{aos__slug}} {{aos__classes}}">
		<div class="aos__content">
			<div class="aos__text">{{aos__name}}</div>
			<div class="aos__logo"><img src="{{theme.link}}/static/{{aos__slug}}.svg" / height="40"></div>
		</div>
	</div>
{% endif %}
