{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body class="{{body_class}}" data-template="base.twig">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQD764R"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<a href="#main" class="skipToMainContent skip-link">Skip To Main Content</a>

{% set is_trending_active = function('is_plugin_active', 'iw-trending/iw-trending.php') %}
{% if is_trending_active %}
	{% include 'covid.twig' %}
{% endif %}

{% include 'site-header.twig' %}
<div id="nav-main-wrapper">

	{% include 'site-nav.twig' %}

	<main id="main" class="page-content">
		{% for hero in post.get_field('hero_content') %}

			{% if hero.acf_fc_layout == 'image' %}
				<div class=" hero hero__image">
					<img srcset="{{ hero.image_content.url|resize(480) }} 480w, {{ hero.image_content.url|resize(640) }} 640w, {{ hero.image_content.url|resize(800) }} 800w, {{ hero.image_content.url|resize(1024) }} 1024w, {{ hero.image_content.url|resize(2000) }} 2000w" sizes="100vw" src={{ hero.image_content.url|resize(800) }} alt="{{hero.image_content.alt}}"/>
					{% if not post.get_field('aos') %}
						<div class="heroTitle">
							{% if hero.readability %}
								<div class="stripe">
								{% endif %}

								<div class="wrapper heroWrapper">
									<h1>{{post.title}}</h1>
								</div>

								{% if hero.readability %}
								</div>
							{% endif %}
						</div>
					{% endif %}
				</div>
			{% endif %}


			{% if hero.acf_fc_layout == 'html' %}
				<div class="hero hero__html" style="background-image: url({{hero.background_image.url}})">
					<div class="wrapper heroWrapper">
						{{hero.html_content}}
					</div>
				</div>
			{% endif %}

			{% if hero.acf_fc_layout == 'video' %}
				{# REMEMBER TO MOVE BACK TO IF STATEMENT #}
				<div class="hero hero__video">
					<div class="wrapper heroWrapper">
						<div class="hero__video--wrapper">
							<video autoplay loop muted>
								<source src="{{hero.video_source}}" type="video/mp4"/>
							</video>
							{% if hero.blurb_content %}
								<div class="heroTitle">
									<div class="stripe">
										<div class="wrapper video__blurb">
											{{hero.blurb_content}}
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			{% endif %}

			{% if hero.acf_fc_layout == 'carousel' %}
				<div class="hero hero__carousel">
					<div class"wrapper herowrapper">
						<div class="main-carousel" data-flickity='{ "lazyLoad": true, "cellAlign": "left", "contain": true, "wrapAround": true, "autoPlay": {% if hero.autoplay %}true{% else %}false{% endif %} }'>
							{% for slide in hero.carousel_content %}
								<div
									class="carousel-cell">

									{# image slide #}
									{% if slide.acf_fc_layout == 'image' %}
										{% if slide.image_description %}
											<figure>
												<img data-flickity-lazyload-srcset="{{ slide.image_content.url|resize(480) }} 480w, {{ slide.image_content.url|resize(640) }} 640w, {{ slide.image_content.url|resize(800) }} 800w, {{ slide.image_content.url|resize(1024) }} 1024w, {{ slide.image_content.url|resize(2000) }} 2000w" sizes="100vw" data-flickity-lazyload-src={{ slide.image_content.url|resize(800) }} alt="{{ slide.image_content.alt }}"/>

												<figcaption>
													<div class="wrapper">
														{{ slide.image_description }}
													</div>
												</figcaption>
											</figure>
										{% else %}
											<img data-flickity-lazyload-srcset="{{ slide.image_content.url|resize(480) }} 480w, {{ slide.image_content.url|resize(640) }} 640w, {{ slide.image_content.url|resize(800) }} 800w, {{ slide.image_content.url|resize(1024) }} 1024w, {{ slide.image_content.url|resize(2000) }} 2000w" sizes="100vw" data-flickity-lazyload-src={{ slide.image_content.url|resize(800) }} alt="{{ slide.image_content.alt }}"/>
										{% endif %}

										{# html slide #}
									{% else %}
										<div class="carouselHTMLBackground text_{{slide.text_mode}}" style="{% if slide.background == "Color" %} background-color: {{ slide.background_color }};{% endif %}{% if slide.background == 'Image' %}background-image: url({{slide.background_image.url}});{% endif %}{% if slide.background == 'Gradient' %}{% endif %}">
											{{ slide.html_markup }}
										</div>
									{% endif %}
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}

		{% if post.get_field('sidekick') %}
			<div class="wrapper">
				{{post.get_field('sidekick')}}</h2>
			</div>
		{% endif %}

		{% include 'aos-bar.twig' %}
		{% block content %}
			Sorry, no content

			{% block sidebar %}{% endblock %}
		{% endblock %}
	</main>
</div>
{# End nav-main-wrapper #}
{% block footer %}
	{% include 'footer.twig' %}{{ function('wp_footer') }}
{% endblock %}</body></html>
