{% extends "base.twig" %}

{# this template acts an an index for the wordpress posts #}

{% block content %}
  <div class="wrapper">
    <div class="col-alignment">
      <section class="blogIndex">
        {% for post in posts %}
          {% include ["tease-"~post.post_type~".twig", "tease.twig"] %}
        {% endfor %}
      </section>

          {% if sidebar_widgets %}
      {% block sidebar %}
        <aside class="layout-sidebar">
            {{ sidebar_widgets }}
        </aside>
      {% endblock %}
          {% endif %}
    </div>
  </div>
{% endblock %}