<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html {{site.language_attributes}}> <!--<![endif]-->
<head>
    <meta charset="{{site.charset}}" />
    <title>
        {% if wp_title %}
            {{ wp_title }} - {{ site.name }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>

    <meta name="description" content="{{site.description}}">

    <style>
      :root {
        {% set linkColor = function('get_theme_mod', 'link_color') %}
        {% if linkColor %}
        --linkColor: {{ linkColor }};
        {% else %}
        --linkColor: #1a5479;
        {% endif %}

        {% set menuColor = function('get_theme_mod', 'menu_color') %}
        {% if menuColor %}
        --menuColor: {{ menuColor }};
        {% else %}
        --menuColor: #154666;
        {% endif %}

        {% set headerColor = function('get_theme_mod', 'header_color') %}
        {% if headerColor %}
        --headerColor: {{ headerColor }};
        {% else %}
        --headerColor: #1a5276;
        {% endif %}

        {% set headerTextColor = function('get_theme_mod', 'header_text_color') %}
        {% if headerTextColor %}
        --headerTextColor: {{ headerTextColor }};
        {% else %}
        --headerTextColor: #fff;
        {% endif %}

        {% set menuHiliteA = function('get_theme_mod', 'menu_hilite_a') %}
        {% if menuHiliteA %}
        --menuHiliteA: {{ menuHiliteA }};
        {% else %}
        --menuHiliteA: #6a8da3;
        {% endif %}

        {% set menuHiliteB = function('get_theme_mod', 'menu_hilite_b') %}
        {% if menuHiliteB %}
        --menuHiliteB: {{ menuHiliteB }};
        {% else %}
        --menuHiliteB: #1a5276;
        {% endif %}

        --customHeaderImage: url({{ function('get_theme_mod', 'header_image') }});
      }
    </style>

    <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="all" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{site.pingback_url}}" />

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WQD764R');</script>
    <!-- End Google Tag Manager -->

    {{function('wp_head')}}
