{# {% if menu %}
	{% for item in menu %}
			{
      "url": "{{ item.link }}",
      "title": "{{ item.title }}",
      "current": "{{ item.current }}",
			"submenu": [
        {% include "menu.twig" with {'menu': item.get_children} %}
      ]
      }{% if not loop.last %},{% endif %}
	{% endfor %}
{% endif %} #}

{% if menu %}
	{% for item in menu %}
		<li class="{{ item.classes | join(' ') }}">

      {% if item.link == '#' and item.get_children %}
        <a target="{{ item.target }}" role="button" href="{{ item.link }}">
          {{ item.title }}
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m16.59 8.59-4.59 4.58-4.59-4.58-1.41 1.41 6 6 6-6z"/><path d="m0 0h24v24h-24z" fill="none"/></svg>
        </a>

        <ul class="menu">
          {% include "menu.twig" with {'menu': item.get_children} %}
        </ul>
      {% endif %}



      {% if item.link != '#' and item.get_children %}
        <a href="#" role="button">
        {{ item.title }}
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m16.59 8.59-4.59 4.58-4.59-4.58-1.41 1.41 6 6 6-6z"/><path d="m0 0h24v24h-24z" fill="none"/></svg>
        </a>

        <ul class="menu">
          <li class="{{ item.classes | join(' ') }}">
            <a target="{{ item.target }}" href="{{ item.link }}">
            {{ item.title }}
            </a>
          </li>
          {% include "menu.twig" with {'menu': item.get_children} %}
        </ul>
      {% endif %}

      {% if item.link != '#' and not item.get_children %}
        <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
      {% endif %}
		</li>
	{% endfor %}
{% endif %}