{# Wrap the event in a link if there is one #}
{% if event.event_link %}
<a href="{{ event.event_link }}" target="_blank">
    {% endif %}

    <div class="card">
        {% set event_image = TimberImage(event.thumbnail) %}
        {# <img src="{{ person_image.src|resize(640) }}" alt="{{ person_image.alt }}"> #}
        <img src="{{ event_image.src|resize(300) }}" alt="{{ event_image.alt  }}" />
        <p class="day-of-week">{{ event.event_date|date('l') }}</p>
        <p class="month-day">{{ event.event_date|date('F j') }}</p>
        {% if event.end_time %}
        <p>{{ event.start_time|date('g:ia') }} - {{ event.end_time|date('g:ia') }}</p>
        {% else %}
        <p>{{ event.start_time|date('g:ia') }}</p>

        {% endif %}
        <h3>{{ event.title }}</h3>
        {# <p>{{ event.timestamp }}</p> #}
    </div>

    {% if event.event_link %}
</a>
{% endif %}