{% extends "base.twig" %}

{% block content %}

  <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">

    <section class="article-content">
      <div class="wrapper">
        {% include "page-title.twig" %}
        <div class="article-body">
          {{post.content}}
        </div>
      </div>
    </section>

    {% include 'acf-layouts.twig' %}

  </article>

{% endblock %}