{% if post.get_field('hero_content') %}
  {% for hero in post.get_field('hero_content') %}
    {% if hero.acf_fc_layout == 'image' %}
      <h1 class="articleHeading show-for-sr">{{post.title}}</h1>
    {% endif %}
  {% endfor %}
{% else %}
  <h1 class="articleHeading">{{post.title}}</h1>
{% endif %}