{% extends "base.twig" %}

{% block content %}
  <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
    <div class="wrapper">
      <div class="col-alignment">
        <section class="article-content">
          {% include "page-title.twig" %}
          <div class="article-body">
              {{post.content}}
          </div>
        </section>

        <aside class="layout-sidebar-left">
          {{post.get_field('sidebar_left')}}
        </aside>

        <aside class="layout-sidebar-right">
          {{post.get_field('sidebar_right')}}
        </aside>
      </div> {# close .col-alignment #}
    </div> {# close .wrapper #}

    {% include 'acf-layouts.twig' %}
  </article>
{% endblock %}
