{% extends "base.twig" %}

{% block content %}

	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<div class="wrapper">
			<div class="col-alignment">

				<section class="article-content">
					{% include "page-title.twig" %}
					<div class="article-body">
						{{post.content}}
					</div>
				</section>

				{% block sidebar %}
					<aside class="layout-sidebar">
						{{post.get_field('sidebar')}}
						{# {% if sidebar_widgets %}
							{{ sidebar_widgets }}
						{% endif %} #}
					</aside>
				{% endblock %}

			</div>
			{# close .col-alignment #}
		</div>
		{# close .wrapper #}

		{% include 'acf-layouts.twig' %}

	</article>
{% endblock %}
