{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
{% if post.content %}
  <section class="article-content">
    <div class="wrapper">
      {% include "page-title.twig" %}
      <div class="article-body">
        {# <div>{{ dump(post) }}</div> #}
        {# {{ dump(events) }} #}
        {# {{ dump(past_events) }}
        {# {{ dump(tomorrow) }}} #}
        {# {{ dump(future_events) }} #}
        {{post.content}}
      </div>
    </div>
  </section>

        {% endif %}
  {% include 'acf-layouts.twig' %}
  {# <p>{{ "now"|date() }}</p> #}
  <div class="wrapper events-grid">
    {% for event in future_events %}
    {% include 'music-event.twig' %}
    {% endfor %}
  </div>

  <section class="acfSection text_light" style="background-color: #adadad;">
    <div class="wrapper">
      <div class="layout-one-column" id="">
        <div class="col">
          <h2 style="text-align: center;"><strong>Past Events</strong></h2>
        </div>
      </div>
    </div>
  </section>

  <div class="wrapper events-grid">
    {% for event in past_events %}
    {% include 'music-event.twig' %}
    {% endfor %}
  </div>
		{% if post.get_field('previous_events') %}
			<div class="wrapper">
				{{post.get_field('previous_events')}}</h2>
			</div>
		{% endif %}
</article>
{% endblock %}