{% extends "base.twig" %}

{% block content %}
  <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
    {% if post.content %}
    <section class="article-content">
      <div class="wrapper">
        {% include "page-title.twig" %}
        <div class="article-body">
          {{post.content}}
        </div>
      </div>
    </section>
    {% endif %}

    {% include 'acf-layouts.twig' %}
  </article>
{% endblock %}
