{% extends "base.twig" %}

{% block content %}
  <section class="wrapper">
	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}
  </section>
{% endblock %}