{% set isSidebar = post.get_field('sidebar') %}

{% block content %}
  {% if isSidebar == 'none' %}
    {% set sidebarClass = '' %}
  {% endif %}
  {% if isSidebar == 'right' %}
    {% set sidebarClass = 'page-template-page-sidebar-left' %}
  {% endif %}
  {% if isSidebar == 'left' %}
    {% set sidebarClass = 'page-template-page-sidebar-right' %}
  {% endif %}
  <div class="page-template-page-sidebar-right">
    <div class="page-content content-wrapper wrapper">
      <div class="col-alignment">
        <article class="article article-content post-type-{{post.post_type}}" id="post-{{post.ID}}">
          <section class="">

            {% if post.thumbnail.src %}
              <div class="article__featuredImage">
                <img src="{{post.thumbnail.src('medium')}}"/>
              </div>
            {% endif %}

            <h1 class="article-h1">{{post.title}}</h1>

            <p class="article-date">
              {{ post.post_date|date}}
            </p>

            <div class="article-body">
              {{post.content}}
            </div>
          </section>
          <section class="comment-section">
            {{ fn('comment_form') }}
            <hr/>
            {% if post.get_comment_count() > 0 %}
              {% if post.get_comment_count() == 1 %}
                <h2>Response to "{{post.title}}"</h2>
              {% endif %}
              {% if post.get_comment_count() > 1 %}
                <h2>Responses to "{{post.title}}"</h2>
              {% endif %}

              <hr/>
              {% for comment in post.comments %}
                <div class="current-comments">
                  <h6 class="comment-meta">
                    {{ comment.author.name }}
                    -
                    {{ comment.date }}</h6>

                  {{ comment.content }}
                  {{comment.reply_link}}
                </div>

                {% if comment.children() %}
                  {% for reply in comment.children() %}
                    <div class="current-replies">
                      <h6>
                        {{ reply.author.name }}
                        -
                        {{ reply.date }}</h6>
                      {{ reply.content }}
                    </div>
                  {% endfor %}
                {% endif %}


              {% endfor %}
            {% endif %}


          </section>
        </article>

        {% if sidebar_widgets %}
          <aside class="">
            {{ sidebar_widgets }}
          </aside>
				{% endif %}

      </div>
    </div>
  </div>
  <!-- /content-wrapper -->
{% endblock %}