{% extends "base.twig" %}


{% block content %}
	<div class="page-content content-wrapper wrapper">
		<section class="article-content">
			{{ function('get_the_password_form') }}
		</section>
	</div>
{% endblock %}
