{% block content %}
  <div class="page-template-page-sidebar-right">
    <div id="digitex-post" class="page-content content-wrapper wrapper">
      <div class="col-alignment">
        <article class="article article-content post-type-{{post.post_type}}" id="post-{{post.ID}}">
          <section class="">

            {% if post.category %}
                    <p class="category">{{ post.terms('category') | join(', ') }}</p>
            {% endif %}
            <h1 class="article-h1">{{post.title}}</h1>

        <div class="dt-post-meta">
            {% if post.author.name %}
                <p>{{post.author.name}}</p>
            {% endif %}
            {% if post.date %}
                <p>{{post.date}}</p>
            {% endif %}
        </div>

            <div class="article-body">
              {{post.content}}
            </div>
          </section>

          <section id="author-box">
            {% if post.author.avatar %}
                <img src="{{post.author.avatar}}" alt="{{post.author.name}}" />
            {% endif %}
            {% if post.author.name %}
                <span>{{post.author.name}}</span>
            {% endif %}
          </section> 
          
        </article>

      </div>
    </div>
  </div>
  <!-- /content-wrapper -->
{% endblock %}