{% extends "base.twig" %}


{#
   isSidebar - value for ACF 'sidebar'
             - returns 1 value == none, left, or right
 #}
{% block content %}
	{% if ( site_title == 'Dev Test' ) or ( site_title == 'DigiTex' ) %}

    {% include 'single-digitex.twig' %}

  {% else %}

      {% include 'single-default.twig' %}

  {% endif %}
{% endblock %}