<header class="site-header">
  {% block header %}
    <div class="acc-header">
      <div class="wrapper">
        <div class="siteIdentity" role="banner">
          <div class="siteIdentity__primary">
            <div class="siteLogo">
              {% if function('has_custom_logo') %}
                {{function('the_custom_logo')}}
              {% else %}
                <a href="http://www.austincc.edu">
                  <svg height="35" version="1.1" viewbox="0 0 288 100" width="100" xmlns="http://www.w3.org/2000/svg">
                    <title>Austin Community College</title>
                    <g class="star">
                      <path d="M52.8,32.6L56,8.1l19.3,18.8" style="fill: rgb(0, 155, 124);"></path>
                      <path d="M57.4,59.8l3.5-20.6l61.5-15.4L75.3,55.5l20.6,36.1" style="fill: rgb(0, 122, 194);"></path>
                      <path d="M37,50.4L7.6,31.1l44.3,9l-1.9,15L16.4,93.2" style="fill: rgb(239, 62, 66);"></path>
                      <path d="M28,84.3l29.3-18.6l39.5,32.1L56.1,77.7" style="fill: rgb(255, 213, 32);"></path>
                    </g>
                    <g class="text small">
                      <path d="M118.9,66.6c-1.9,4.6-3.8,9.1-5.7,13.7c-0.4,0.8-0.6,1.7-0.8,2.6c-0.4,2,0,3.8,1.6,5.3c0.2,0.2,0.6,0.4,0.6,0.9c-4.6,0-9.2,0-14.1,0c4.4-3.9,5.8-9,7.8-13.9c5.2-12.9,10.3-25.9,15.4-38.9c0.1-0.3,0.2-0.5,0.3-0.8c0.8-2.5,1.4-5-1.6-7.2c5,0,9.5,0,14.1,0c0.5,0.4,0.6,1.1,0.8,1.7c6,15.9,12,31.8,18,47.7c1.5,4.1,3.6,7.9,7,10.7c0.1,0.1,0.3,0.2,0.2,0.6c-5.6,0-11.2,0-17,0c0.2-0.8,0.9-1.2,1.3-1.7c0.9-1.1,1.3-2.3,0.8-3.8c-1.3-4-2.9-7.9-4.4-11.8c-0.6-1.7-1.3-3.4-2-5.2C133.8,66.6,126.4,66.6,118.9,66.6z M138.8,60.1c-2.8-7.6-5.5-15-8.2-22.5c-0.1,0-0.3,0-0.4,0c-3,7.4-5.9,14.9-9,22.5C127.3,60.1,132.9,60.1,138.8,60.1z" style="fill: rgb(255, 255, 255);"></path>
                      <path d="M205.1,29.2c0,3.2,0,6.4,0,9.8c-0.9-0.4-1.6-0.7-2.3-1c-3.9-1.9-7.9-3.1-12.3-3.2c-11.5-0.3-20,6.6-22.1,16.7c-1.3,6.4-0.9,12.8,1.9,18.9c4.1,8.9,13.2,13.5,22.8,12.5c5.5-0.6,10.4-2.7,15.2-5.2c0.5-0.3,0.9-0.7,1.8-0.6c-1.4,3.6-2.8,7.1-4.3,10.7c-3.1,1.2-6.3,2-9.5,2.5c-8.2,1.2-16.1,0-23.5-3.9c-8.7-4.6-13.8-12-15.3-21.6c-2.1-13,2.4-23.6,12.8-31.6c4.9-3.8,10.7-5.7,16.9-6.2c5.5-0.5,10.9,0.2,16.2,1.7C204,28.7,204.5,28.8,205.1,29.2z" style="fill: rgb(255, 255, 255);"></path>
                      <path d="M259.3,29.2c0,3.2,0,6.4,0,9.8c-0.9-0.4-1.6-0.7-2.3-1c-3.9-1.9-7.9-3.1-12.3-3.2c-11.5-0.3-20,6.6-22.1,16.7c-1.3,6.4-0.9,12.8,1.9,18.9c4.1,8.9,13.2,13.5,22.8,12.5c5.5-0.6,10.4-2.7,15.2-5.2c0.5-0.3,0.9-0.7,1.8-0.6c-1.4,3.6-2.8,7.1-4.3,10.7c-3.1,1.2-6.3,2-9.5,2.5c-8.2,1.2-16.1,0-23.5-3.9c-8.7-4.6-13.8-12-15.3-21.6c-2.1-13,2.4-23.6,12.8-31.6c4.9-3.8,10.7-5.7,16.9-6.2c5.5-0.5,10.9,0.2,16.2,1.7C258.2,28.7,258.7,28.8,259.3,29.2z" style="fill: rgb(255, 255, 255);"></path>
                    </g>
                  </svg>
                </a>
              {% endif %}
            </div>

            <h1 class="siteTitle">
              <a href="{{site.url}}" rel="home">{{site.name}}</a>
            </h1>
          </div>

          {% if function('display_header_text') %}
            <h2 class="siteDescription">
              {{site.description}}
            </h2>
          {% endif %}
        </div>

        <div class="siteControls">
          <a class="siteControls__menuToggle" href="#siteNavigation" id="menuToggle" role="button">
            <span class="show-for-sr">Toggle Menu</span>
            {# <iw-icon-bars fill="white"></iw-icon-bars> #}
            <svg class="iw-icon-bars" height="24" version="1.1" viewbox="0 0 16 16" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 3h14v3h-14zM1 7h14v3h-14zM1 11h14v3h-14z" fill="white"></path>
            </svg>
          </a>
          <div class="widgetWrapper">
            <form action="{{site.url}}" class="searchForm" method="get" role="search">
              <label for="searchField">Search Field</label>
              <input id="searchField" name="s" placeholder="Search" type="text"/>
              <button role="button" type="submit">
                <span>Search</span>
                {# <iw-icon-search></iw-icon-search> #}
                <svg class="iw-icon-search" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.504 13.616l-3.79-3.223c-0.392-0.353-0.811-0.514-1.149-0.499 0.895-1.048 1.435-2.407 1.435-3.893 0-3.314-2.686-6-6-6s-6 2.686-6 6 2.686 6 6 6c1.486 0 2.845-0.54 3.893-1.435-0.016 0.338 0.146 0.757 0.499 1.149l3.223 3.79c0.552 0.613 1.453 0.665 2.003 0.115s0.498-1.452-0.115-2.003zM6 10c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z"></path>
                </svg>
              </button>
            </form>
            {% if header_widgets %}
              {{ header_widgets }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
</header>
