{% set stickyNav = function('get_theme_mod', 'sticky_nav_enabled') %}
{% if stickyNav %}
	<nav class="site-nav stickySiteNav" id="siteNavigation">
{% else %}
	<nav class="site-nav" id="siteNavigation">
{% endif %}
	<div class="wrapper">
		<div class="iw-dropdown-menu">
			<button class="mobileNavCloseBtn" id="mobileNavCloseBtn" aria-label="Close alert">
				<span class="show-for-sr">Close Menu</span>
				<span aria-hidden="true">&times;</span>
			</button>
			<ul class="dropdown menu" id="mainMenu" data-dropdown-menu data-disable-hover="true" data-click-open="true">
				{% include "menu.twig" with {'menu': menu.get_items} %}
			</ul>
			{# <iw-dropdown-menu class="primary-menu" content=''></iw-dropdown-menu> #}
		</div>
	</div>
</nav>