{% extends "tease.twig" %}

{% block content %}
	{% if ( site_title == 'Dev Test' ) or ( site_title == 'DigiTex' ) %}

		{% include 'tease-digitex.twig' %}

	{% else %}

		{% if post.thumbnail.src %}
			<div class="tease__thumbnail">
				<img src="{{post.thumbnail.src('medium')}}" />
			</div>

			<div class="tease__content">
				<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
				<p>{{post.get_preview(25)}}</p>
			</div>
		{% endif %}


		{% if not post.thumbnail.src %}
		<div class="tease__content full">
			<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
			<p>{{post.get_preview(25)}}</p>
		</div>
		{% endif %}

	{% endif %}

{% endblock %}