{% block content %}
<div class="dt-wrapper">
    {% if post.thumbnail.src %}
        <div class="thumbnail">
            <img src="{{post.thumbnail.src('medium')}}" />
        </div>
        {% endif %}
    <div class="dt-content">
        <div class="dt-post-meta">
            {% if post.date %}
                <p>{{post.date}}</p>
            {% endif %}
            {% if post.author.name %}
                <p>{{post.author.name}}</p>
            {% endif %}
            {% if post.category %}
                    <p>{{ post.terms('category') | join(', ') }}</p>
            {% endif %}
        </div>
            <div class="">
                <h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
                <p>{{ post.preview.length(50).read_more('Continue Reading') }}</p>

            </div>

    </div>
    {# {% if post.thumbnail.src %}

    {# {% if not post.thumbnail.src %}
    <div class="tease__content full">
        <h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
        <p>{{post.get_preview(25)}}</p>
    </div>
    {% endif %} #}
</div>
{% endblock %}